<link rel="stylesheet" type="text/css" href="tailwind.css">

<div class="mx-auto px-6 sm:px-8 xl:px-12 py-5 lg:py-6 xl:py-8">
  <div class="flex justify-between sm:items-baseline">
    <a href="#"><svg class="h-12" height='100px' width='100px'  fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><g i:extraneous="self"><g><path d="M90.5,10.1H9.5c-3.9,0-7,3.2-7,7v65.8c0,3.9,3.2,7,7,7h80.9c3.9,0,7-3.2,7-7V17.1C97.5,13.2,94.3,10.1,90.5,10.1z      M32.5,17.3c1.7,0,3,1.4,3,3c0,1.7-1.4,3-3,3c-1.7,0-3-1.4-3-3C29.5,18.6,30.8,17.3,32.5,17.3z M23.3,17.3c1.7,0,3,1.4,3,3     c0,1.7-1.4,3-3,3c-1.7,0-3-1.4-3-3C20.3,18.6,21.7,17.3,23.3,17.3z M14.1,17.3c1.7,0,3,1.4,3,3c0,1.7-1.4,3-3,3c-1.7,0-3-1.4-3-3     C11.1,18.6,12.5,17.3,14.1,17.3z M91,82.9c0,0.3-0.2,0.5-0.5,0.5H9.5c-0.3,0-0.5-0.2-0.5-0.5V30.6h82V82.9z"></path><path d="M38.3,74.1c0.4,0.4,1.1,0.4,1.5,0l4.7-4.7c0.4-0.4,0.4-1.1,0-1.5L33.7,57l10.8-10.8c0.4-0.4,0.4-1.1,0-1.5L39.8,40     c-0.4-0.4-1.1-0.4-1.5,0L22.1,56.3c-0.4,0.4-0.4,1.1,0,1.5L38.3,74.1z"></path><path d="M55.5,69.4l4.7,4.7c0.4,0.4,1.1,0.4,1.5,0l16.3-16.3c0.4-0.4,0.4-1.1,0-1.5L61.7,40c-0.4-0.4-1.1-0.4-1.5,0l-4.7,4.7     c-0.4,0.4-0.4,1.1,0,1.5L66.3,57L55.5,67.9C55.1,68.3,55.1,69,55.5,69.4z"></path></g></g></g></svg></a>
    <nav class="hidden md:flex space-x-3 sm:space-x-6 lg:space-x-12 font-semibold" usedbyfluent="true">
      <a href="#" class="hover:text-indigo-500">Link</a>
      <a href="#" class="hover:text-indigo-500">Link</a>
      <a href="#" class="hover:text-indigo-500">Link</a>
      <a href="#" class="hover:text-indigo-500">Link</a>
    </nav>
    <a href="/library/" class="md:hidden hover:text-indigo-50">Library</a>
  </div>
</div>
